<!DOCTYPE html>
<html>
<body>

<h1>Select your skills</h1>

<form action="/recommender" method='POST'>
  <input type="checkbox" id="skill1" name="skill1" value="Python">
  <label for="skill1"> Python</label><br><br>
  <input type="checkbox" id="skill2" name="skill2" value="R">
  <label for="skill2"> R</label><br><br>
  <input type="checkbox" id="skill3" name="skill3" value="Spark">
  <label for="skill3"> Spark</label><br><br>
  <input type="checkbox" id="skill4" name="skill4" value="SPSS">
  <label for="skill4"> SPSS</label><br><br>
  <input type="checkbox" id="skill5" name="skill5" value="SQL">
  <label for="skill5"> SQL</label><br><br>
  <input type="checkbox" id="skill6" name="skill6" value="Pandas">
  <label for="skill6"> Pandas</label><br><br>
  <input type="checkbox" id="skill7" name="skill7" value="Numpy">
  <label for="skill7"> Numpy</label><br><br>
  <input type="checkbox" id="skill8" name="skill8" value="Cloud">
  <label for="skill8"> Cloud</label><br><br>
  <input type="checkbox" id="skill9" name="skill9" value="Docker">
  <label for="skill9"> Docker</label><br><br>
  <input type="checkbox" id="skill10" name="skill10" value="Statistic">
  <label for="skill10"> Statistic</label><br><br>
  <input type="checkbox" id="skill11" name="skill11" value="Java">
  <label for="skill11"> Java</label><br><br>
  <input type="checkbox" id="skill12" name="skill12" value="Scala">
  <label for="skill12"> Scala</label><br><br>
  <input type="checkbox" id="skill13" name="skill13" value="Marketing">
  <label for="skill13"> Marketing</label><br><br>
  <input type="checkbox" id="skill14" name="skill14" value="SAS">
  <label for="skill14"> SAS</label><br><br>
  <input type="checkbox" id="skill15" name="skill15" value="Stata">
  <label for="skill15"> Stata</label><br><br>
  <input type="checkbox" id="skill16" name="skill16" value="Excel">
  <label for="skill16"> Excel</label><br><br>
  <input type="checkbox" id="skill17" name="skill17" value="Tableau">
  <label for="skill17"> Tableau</label><br><br>
  <input type="submit" value="Submit" />
</form>

</body>
</html>
